//                                                      ▀▀▀█
//               ▄▄▄▄      ▄▄▄      ▄▄▄▄▄      ▄▄▄▄▄       █
//               █        █▄▄▄█    █    █     █    █       █
//            ▄▄▄█▄▄▄     ▀▄▄▄     ▀▄▄▄▄█     ▀▄▄▄▀█    ▄▄▄█▄▄▄
//                                  ▄▄▄▄▀  


#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>
//#include <dt-bindings/zmk/mouse.h>

#define KRITA1  0
#define KRITA2  1
#define HEAVY1  2
#define HEAVY2  3

/ {
    behaviors {

        k_rot: k_rot_reset {
            compatible = "zmk,behavior-tap-dance";
            label = "Rotation_Reset";
            #binding-cells = <0>;
            tapping-term-ms = <300>;
            bindings = <&kp R>, <&kp LS(R)>;
        };

        k_unsav: t_unsav {
            compatible = "zmk,behavior-hold-tap";
            label = "KRITA_UndoSave";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <400>;
            quick-tap-ms = <1000>;
            global-quick-tap;
            bindings = <&k_save>, <&kp>;
        };

        k_resav: t_resav {
            compatible = "zmk,behavior-hold-tap";
            label = "KRITA_RedoSaveInc";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <400>;
            quick-tap-ms = <1000>;
            global-quick-tap;
            bindings = <&k_saveinc>, <&kp>;
        };

        k_plbs: k_plbs {
            compatible = "zmk,behavior-hold-tap";
            label = "KRITA_PlayBrushsize";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <400>;
            quick-tap-ms = <1000>;
            global-quick-tap;
            bindings = <&kp>, <&kp>;
        };

        k_sel: k_sel {
            compatible = "zmk,behavior-hold-tap";
            label = "KRITA_SelectDeselect";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <400>;
            quick-tap-ms = <1000>;
            global-quick-tap;
            bindings = <&k_dsel>, <&kp>;
        };

        k_move: k_move {
            compatible = "zmk,behavior-hold-tap";
            label = "KRITA_Move";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <400>;
            quick-tap-ms = <1000>;
            global-quick-tap;
            bindings = <&k_dsel>, <&kp>;
        };

        k_trans: k_trans {
            compatible = "zmk,behavior-hold-tap";
            label = "KRITA_Transform";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <400>;
            quick-tap-ms = <1000>;
            global-quick-tap;
            bindings = <&k_cltrans>, <&kp>;
        };

    };

    macros {

        k_save: k_save {
            label = "KRITA_Save";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_tap &kp LC(S)>
                ;
        };

        k_saveinc: k_saveinc {
            label = "KRITA_SaveInc";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_tap &kp LC(LA(S))>
                ;
        };

        k_alay: k_alay {
            label = "KRITA_NewAnimLayer";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LC(L)>
                , <&macro_tap &kp LC(LA(A))>
                ;
        };

        k_dsel: k_dsel {
            label = "KRITA_Deselect";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_tap &kp D>
                , <&macro_tap &kp B>
                ;
        };

        k_cltrans: k_cltrans {
            label = "KRITA_ClearTrans";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_tap &kp RETURN>
                , <&macro_tap &dsel>
                ;
        };

    };

// ───────────────────────────────────────────────────────────────────────────

        keymap {
                compatible = "zmk,keymap";

                krita1_layer {
// ┌───────────────────────────────────┐
label= "KRITA1"                        ;
// └───────────────────────────────────┘
// ┌───────────┬───────────┬───────────┬───────────┐╭───────────╮╭───────────╮
// │ SHIFT     │ MARK OUT  │ ROT/RESET │ MARK IN   ││ UNDO/SAVE ││ FSCREEN   │
// ├───────────┼───────────┼───────────┼───────────┤├───────────┤╰───────────╯
// │ KRITA2    │ NXT FRAME │ PAN       │ PRV FRAME ││ SEL/DSEL  │
// └───────────┼───────────┼───────────┼───────────┤├───────────┤
//             │ PASTE KF  │ CLEAR     │ COPY KF   ││ PLAY      │
//             └───────────┴───────────┴───────────┘╰───────────╯
 bindings = <
// ╷           ╷           ╷           ╷           ╷╷           ╷╷           ╷

    &kp LSHFT   &kp O       &k_rot      &kp I        &k_unsav 0 LC(Z) &kp TAB
    &lt KRITA2 L &kp RIGHT  &kp LALT    &kp LEFT     &k_sel 0 D
              &kp LC(LA(V)) &kp DEL     &kp LC(LA(C)) &k_plbs Z SPACE   
                        >;
            sensor-bindings = <&inc_dec_kp LC(W) LC(LS(W))>; // NEW HOLD / DEL HOLD
                };   

// ───────────────────────────────────────────────────────────────────────────

                krita2_layer {
// ┌───────────────────────────────────┐
label= "KRITA2"                        ;
// └───────────────────────────────────┘
// ┌───────────┬───────────┬───────────┬───────────┐╭───────────╮╭───────────╮
// │ FSCREEN   │ NEW LAYER │ DEL LAYER │ NEW ALAY  ││ REDO/SAVE ││           │
// ├───────────┼───────────┼───────────┼───────────┤├───────────┤╰───────────╯
// │    ---    │ NEXT KEY  │ NEW KEY   │ PREV KEY  ││ MOVE      │
// └───────────┼───────────┼───────────┼───────────┤├───────────┤
//             │ PASTE     │ DEL KEY   │ COPY      ││ TRANSFORM │
//             └───────────┴───────────┴───────────┘╰───────────╯
 bindings = <
// ╷           ╷           ╷           ╷           ╷╷           ╷╷           ╷

    &kp TAB     &kp LC(L)     &kp LC(W) &k_alay      &kp LC(LS(Z)) &trans
    &trans      &kp LS(RIGHT) &kp K     &kp LS(LEFT) &k_move 0 M
                &kp LC(LS(V)) &kp LS(DEL) &kp LC(C)  &k_trans 0 T        
                        >;
            sensor-bindings = <&inc_dec_kp PG_DN PG_UP>; // NEXT LAYER / PREV LAYER
                };


// ───────────────────────────────────────────────────────────────────────────

                heavy1_layer {
// ┌───────────────────────────────────┐
label= "HEAVY1"                        ;
// └───────────────────────────────────┘
// ┌───────────┬───────────┬───────────┬───────────┐╭───────────╮╭───────────╮
// │           │           │ ROT/RESET │           ││ UNDO/SAVE ││           │
// ├───────────┼───────────┼───────────┼───────────┤├───────────┤╰───────────╯
// │ HEAVY2    │           │ PAN       │           ││           │
// └───────────┼───────────┼───────────┼───────────┤├───────────┤
//             │           │ DEL       │           ││           │
//             └───────────┴───────────┴───────────┘╰───────────╯
 bindings = <
// ╷           ╷           ╷           ╷           ╷╷           ╷╷           ╷

    &kp LSHFT   &kp O       &k_rot      &kp I        &k_unsav 0 LC(Z) &trans
    &lt HEAVY2 L &kp RIGHT  &kp LALT    &kp LEFT     &kp SPACE
              &kp LA(LS(V)) &kp DEL     &kp LA(LS(C)) &k_sel 0 S             
                        >;
            sensor-bindings = <&inc_dec_kp LC(W) LC(LS(W)) >; // NEW HOLD / DEL HOLD
                };   

// ───────────────────────────────────────────────────────────────────────────


                heavy2_layer {
// ┌───────────────────────────────────┐
label= "HEAVY2"                        ;
// └───────────────────────────────────┘
// ┌───────────┬───────────┬───────────┬───────────┐╭───────────╮╭───────────╮
// │           │           │ ROT/RESET │           ││ UNDO/SAVE ││           │
// ├───────────┼───────────┼───────────┼───────────┤├───────────┤╰───────────╯
// │ HEAVY2    │           │ PAN       │           ││           │
// └───────────┼───────────┼───────────┼───────────┤├───────────┤
//             │           │ DEL       │           ││           │
//             └───────────┴───────────┴───────────┘╰───────────╯
 bindings = <
// ╷           ╷           ╷           ╷           ╷╷           ╷╷           ╷

    &kp LSHFT   &kp O       &k_rot      &kp I        &k_unsav 0 LC(Z) &trans
    &trans      &kp RIGHT  &kp LALT    &kp LEFT     &kp SPACE
              &kp LA(LS(V)) &kp DEL     &kp LA(LS(C)) &k_sel 0 S             
                        >;
            sensor-bindings = <&inc_dec_kp LC(W) LC(LS(W)) >; // NEW HOLD / DEL HOLD
                };   

        };
};

